
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
<div class="container-header">
    <div class="add-div">
<h3>Add a New Task</h3>
<a href='addtask'><img src="../static/images/plus.svg" width="40" height="40"/></a>
</div>
<div class="add-div">
<h3>Task View</h3>
<a href="listtask"><img src="../static/images/list.svg" width="40" height="40"/></a>
</div>
</div>
<div class="content-section">
    <p>
        Welcome to the simple To-Do-List Python Flask app.<br>
        The main aim of the app is to add the task and store it in the database.<br>
        Keep track on all the Tasks.<br>
        After the Task has completed they are marked as Done.
    </p>
</div>
</div>

{% endblock %}